@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-lg md:text-4xl;
  }
  h4 {
    @apply text-2xl sm:text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl font-semibold;
  }
  span {
    @apply font-normal text-xs sm:text-sm;
  }
  ul {
    @apply list-inside list-disc
  }
}

@layer components {
  .btn-cyan {
    @apply bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded;
  }
  .btn-border {
    @apply border border-cyan-200 hover:bg-cyan-200 text-cyan-700 font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;  
}